body
	{
	
	}

	h1, p {
		 color: (67,206,205);
		}
		#slogan{
			font-size:32px;
    color:(67,206,205) ;
    padding: 10px 10px;
    text-align: center;
    width: 50%;
    margin: 3px;
}
ul{color:white;}