body
	{
	
	}
	title
	{text-align:center;
		color:#43cecd;
	}

	h1, p {
		font-family:"@import url(https://fonts.googleapis.com/css?family=Lato);
		 color:#43cecd;
		}
		#slogan{
			font-size:32px;
    color:#43cecd ;
    padding: 10px 10px;
    text-align: center;
    width: 50%;
    margin: 3px;
}
ul{color:#43cecd;
}